<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / user profile
</h1>

<p>Name:<%=user.name%></p>
<p>Email:<%=user.email%></p>

<form action="/user/sign-in">
<button value="logout">
    Logout
</button>
</form>